.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(100% - 30px);
    border-bottom: 1px solid #330867;
    min-height: 225px;
    padding-bottom: 25px;
}

.project-image {
    width: 200px;
    height: 200px;
    margin: 25px 25px 0 0;
    background-color: grey;
    float: left;
}


h2 {

}

.right-side {
    min-width: 250px;
    width: calc(100% - 300px);
}

.project-description {
    margin: 10px 0;
}

.project-links {
    margin-top: 30px;
    display: flex;
    width: 225px;
    justify-content: space-between;
}

.project-link {
    padding: 10px;
    background-color: #330867;
}
