
.name {
  text-align: center;
  font-size: 4vw;
  display: block;
  margin: 50px auto;
  width: 30vw;
  padding-bottom: 8px;
  max-width: 580px;
  min-width: 200px;
  color: #e3e3e3;
  font-weight: bold;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
}

.body {
  width: 60vw;
  min-width: 350px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
